{% extends "site.html.twig" %}
{% block title '' %}

{% block body %}
    <section id="about" class="js-timer about" data-timer="{{ timer }}" style="background-color: #222">
        <div class="container">
            <div id="timer" class="d-flex justify-content-around align-items-center">
{#                <span class="counters" id="days"></span>#}
{#                <p>{{ 'homepage.timer.days'|trans }}</p>#}
                <div class="col-lg-3 col-6 text-center">
                    <span class="counters" id="hours"></span>
                    <p class="count">{{ 'homepage.timer.hours'|trans }}</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span class="counters" id="minutes"></span>
                    <p class="count">{{ 'homepage.timer.minutes'|trans}}</p>
                </div>
                <div class="col-lg-3 col-6 text-center">
                    <span class="counters" id="seconds"></span>
                    <p class="count">{{ 'homepage.timer.seconds'|trans}}</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
