{% extends "site.html.twig" %}
{% block title 'homepage.form.message.show'|trans %}

{% block body %}

    <section id="services" class="services" style="margin-top: 15px;">
        <div class="container">

            {{ form_start(form) }}

            <div class="row">
                <div class="col-lg-8 col-11 m-1">
                    {% set username = url.lastMessage ? url.lastMessage.prenom : '' %}
                    {% set message  =  url.lastMessage %}
                    {% set message_type = url.lastMessage ? url.lastMessage.type|trans() : '' %}
                    {% set content = url|traduction(app.request.locale) %}

                    {{ 'homepage.step2.message'|trans({
                        '%username%': username,
                        '%message_type%': message_type,
                        '%content%': content
                    })|raw }}
                </div>
                <div class="col-12 my-2 social-links">
                    <div class="d-flex my-1">
                        <div class="d-inline-flex">
                            <div class="d-flex align-items-center snap">
                                <i class="bx bxl-snapchat fa-3x"></i>
                                &nbsp;
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" readonly value="{{ message.snap }}" />
                            </div>
                        </div>
                        <div class="d-inline-flex ml-3">
                            <div class="d-flex align-items-center">
                                &nbsp;
                                <i class="bx bxl-messenger fa-3x"></i>
                                &nbsp;
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" readonly value="{{ message.messenger }}" />
                            </div>
                        </div>
                    </div>
                    <div class="d-flex my-3">
                        <div class="d-inline-flex">
                            <div class="d-flex align-items-center instagram">
                                <i class="bx bxl-instagram fa-3x"></i>
                                &nbsp;
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" readonly value="{{ message.insta }}" />
                            </div>
                        </div>
                        <div class="d-inline-flex ml-3">
                            <div class="d-flex align-items-center">
                                &nbsp;
                                <i class="bx bxs-envelope fa-3x"></i>
                                &nbsp;
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" readonly value="{{ message.email }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ form_row(form.suivante) }}
            <div class="text-right my-4">
                {% if not app.user %}
                    <a href="{{ path('app_register', {
                        id: url.lastMessage.id
                    }) }}" class="btn btn-primary">
                        <i class="far fa-user"></i>
                        {{ 'homepage.action.create_account'|trans }}
                    </a>
                    &nbsp;
                    {#                    <a href="{{ path('app_login', {#}
                    {#                        id: url.lastMessage.id#}
                    {#                    }) }}" class="btn btn-primary">#}
                    {#                        <i class="far fa-user"></i>#}
                    {#                        {{ 'homepage.action.login'|trans }}#}
                    {#                    </a>#}
                {% endif %}

                <button class="btn btn-success" type="submit">
                    <i class="far fa-check-circle"></i>
                    {{ 'homepage.action.reset'|trans }}
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </section><!-- End Services Section -->
{% endblock %}
