<!-- Navigation -->
{#<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">#}
{#    <div class="container">#}
{#        <a class="navbar-brand" href="{{ app.user ? path('profile_index') : '#' }}">#}
{#            {% if app.user %}#}
{#                <i class="fas fa-user fa-3x rounded-circle w-25"></i>#}
{#            {% else %}#}
{#                <img src="{{ asset('images/user_unknown.jpg') }}" alt="Unknown user" class="rounded-circle w-25">#}
{#            {% endif %}#}
{#        </a>#}
{#        <ul>#}
{#            <li class="nav-item dropdown">#}
{#                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-{{ app.request.locale == 'en' ? 'us' : app.request.locale }}"> </span> {{ app.request.locale|name_locale }}</a>#}
{#                <div class="dropdown-menu" aria-labelledby="dropdown09">#}
{#                    {% for l in ['fr', 'es', 'en'] if app.request.locale != l %}#}
{#                        {% set param = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}#}
{#                        <a class="dropdown-item" href="{{ path(app.request.get('_route'), param|merge({'key': app.request.attributes.get('key'), '_locale': l})) }}">#}
{#                            <span class="flag-icon flag-icon-{{ l == 'en' ? 'us' : l }}"> </span>#}
{#                            {{ l|name_locale }}#}
{#                        </a>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</nav>#}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
                <h1 class="logo me-auto me-lg-0">
                    <a href="{{ app.user ? path('profile_index') : '#' }}">
                        {% if app.user %}
                            <i class="fas fa-user fa-3x rounded-circle w-25"></i>
                        {% else %}
                            <img src="{{ asset('images/user_unknown.jpg') }}" alt="Unknown user" class="rounded-circle w-25">
                        {% endif %}
                    </a>
                </h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav id="navbar" class="navbar order-last order-lg-0">
                    <ul>
                        {% if app.user %}
                            <li>
                                <a class="nav-link scrollto {{ app.request.get('_route') == 'espace_client_index' ? 'active' }}" href="{{ path('espace_client_index') }}">Espace client</a>
                            </li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#">
                                <span class="flag-icon flag-icon-{{ app.request.locale == 'en' ? 'us' : app.request.locale }}"> </span>
                                &nbsp;
                                {{ app.request.locale|name_locale }}
                                <i class="bi bi-chevron-down"></i>
                            </a>

                            <ul>
                                {% for l in ['fr', 'en', 'it'] if app.request.locale != l %}
                                    <li>
                                        {% set param = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}
                                        <a class="dropdown-item" href="{{ path(app.request.get('_route'), param|merge({'key': app.request.attributes.get('key'), '_locale': l})) }}">
                                            <span class="flag-icon flag-icon-{{ l == 'en' ? 'us' : l }}"> </span>
                                            {{ l|name_locale }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a href="{{ path('historic') }}" class="{{ app.request.get('_route') == 'historic' ? 'active' }}">
                                {{ 'homepage.action.history_url'|trans }}
                            </a>
                        </li>
                        <li>
                            {% if not app.user %}
                                <a class="nav-link scrollto {{ app.request.get('_route') == 'app_login' ? 'active' }}" href="{{ path('app_login') }}">
                                    {{ 'homepage.action.login'|trans }}
                                </a>
                            {% else %}
                                <a class="nav-link scrollto" href="{{ path('app_register') }}">
                                    {{ 'homepage.action.logout'|trans }}
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav><!-- .navbar -->

{#                <a href="#about" class="get-started-btn scrollto">Get Started</a>#}
            </div>
        </div>

    </div>
</header><!-- End Header -->
