<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
{#    {% set host_image = app.request.schemeAndHttpHost ~ app.request.baseUrl ~ asset('/images/') %}#}
    {% set host_image = asset('/build/images/') %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
{#    <link rel="shortcut icon" type="image/x-icon" href="{{ host_image ~ 'relaxant.png' }}" />#}
    <title>{% block title %}{% endblock %} - Administrateur</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}
  </head>
  <body>
      {% block header %}
          {% include 'admin/layout/_header.html.twig' %}
      {% endblock %}

      <main role="main">
          {# Lire le template https://codepen.io/melissacabral/pen/ZbPWEJ #}
          {% block body %}{% endblock %}
      </main>

      {% block footer %}
          {% include 'admin/layout/_footer.html.twig' %}
      {% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% block javascripts %}
            {{ encore_entry_script_tags('admin') }}
        {% endblock %}
    </body>
</html>
